<template>
    <div id="page-weather" :class="{ showBackground }">
        <img class="background" :src="background" alt="Background image" />

        <NuxtLink class="return clickable" to="/"><div v-html="ArrowLeft"></div></NuxtLink>

        <div class="left" v-if="weather">
            <div class="panel">
                <img class="icon" :src="today.icon" alt="Weather Icon" />
                <div class="date">{{ formatDate(today.date, {
                    weekday: 'long',
                    day: 'numeric',
                    month: 'long'
                }) }}</div>
                <div class="info">
                    <div class="info-left">
                        <div class="entry">Jour - {{ formatNumber(today.dayTemperature) }}°C</div>
                        <div class="entry">Nuit - {{ formatNumber(today.nightTemperature) }}°C</div>
                        <div class="entry">Humidité - {{ today.humidity }}%</div>
                    </div>
                    <div class="info-right">
                        <div class="entry">Pression - {{ today.pressure }}hPa</div>
                        <div class="entry">Vent - {{ formatNumber(today.wind, 2) }} Km/h</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right" v-if="weather">
            <div class="entry clickable" v-for="(day, i) in weather.week" @click="selected = (selected === i ? -1 : i)">
                <img class="icon" :src="day.icon" alt="Weather Icon" />
                <div class="date">
                    <div class="weekday">{{ formatDate(day.date, { weekday: 'long' })}}</div>
                    <div class="day">{{ formatDate(day.date, { day: 'numeric', month: 'long' }) }}</div>
                </div>
                <div class="temperature">{{ Math.round(day.dayTemperature) }}°C</div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>
    import { WeatherData } from '@/lib/weather';

    import ArrowLeft from '@/assets/images/arrow-left.svg?raw';


    const { params: { lat, lon }} = useRoute();
    const { $axios } = useNuxtApp();

    const showBackground = ref(false);
    const selected = ref(-1);
    const today = computed(() => weather.value.week[selected.value] || weather.value.today);

    const axios = $axios();

    const { data: weather } = await useAsyncData<WeatherData>(`weather-${lat}-${lon}`, () => axios.get('/weather', {
        params: { lat, lon }
    }).then(r => r.data));
    const { data: background } = await useAsyncData<string>(`background-${lat}-${lon}`, () => axios.get('/background', {
        params: { lat, lon }
    }).then(r => r.data));

    // We pre-fetch the background image then show it animated
    fetch(background.value).then(() => showBackground.value = true);


    function formatDate(date: number, options: Intl.DateTimeFormatOptions): string
    {
        return new Date(date * 1000).toLocaleDateString('fr-FR', options)
            .split(' ')
            .map(w => w.charAt(0).toUpperCase() + w.slice(1))
            .join(' ');
    }

    function formatNumber(n: number, digits: number = 1): string
    {
        return n.toFixed(digits).replace('.', ',');
    }
</script>

<style lang="scss">
    @import '/assets/styles/mixins';

    .return svg {
        @include square(35px);
    }
</style>

<style lang="scss" scoped>
    @import '/assets/styles/mixins';
    @import '/assets/styles/vars';

    $border-radius: 20px;

    #page-weather {
        flex-grow: 1;

        justify-content: space-between;
        align-items: center;

        height: 100vh;

        background-color: $color-background;
        color: $color-background;

        font-family: $font-open-sans;
        font-size: 14px;

        transition: background-color .4s;

        &.showBackground {
            background-color: transparent;
        }
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        width: 100%;
        height: 100%;

        background-color: $color-background;
        object-fit: cover;

        // Let's be honest it ruins everything lmao (green filter)
        // backdrop-filter: brightness(90%) sepia(100%) hue-rotate(60deg) saturate(400%); // Will only work on Chrome, sadly
    }

    .return {
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 5;

        display: flex;
        justify-content: center;
        align-items: center;

        @include square(65px);

        background-color: $color-background;

        border-radius: 50%;
    }

    .icon {
        height: 75px;
        filter: brightness(0) invert(1);
    }

    .left {
        flex-direction: column;
        justify-content: flex-end;

        height: 100%;

        .panel {
            position: relative;

            flex-direction: column;

            width: 450px;
            height: 225px;

            margin-left: 35px;

            color: $color-foreground;
            background-color: transparentize($color-background, 0.05);

            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            .icon {
                position: absolute;
                top: 8px;
                left: 20px;
            }

            .date {
                justify-content: center;

                margin: 25px 0;

                font-size: 28px;
                font-weight: bold;
            }

            .info {
                justify-content: space-between;

                margin-top: 10px;
                padding: 0 35px;

                font-size: 14px;
                font-weight: bold;

                .info-left, .info-right {
                    flex: 0.5;

                    flex-direction: column;

                    .entry {
                        margin-top: 2px;
                    }
                }
            }
        }
    }

    .right {
        flex-direction: column;
        justify-content: space-between;

        height: 100%;

        padding: 50px 75px;

        .entry {
            justify-content: space-between;
            align-items: center;

            width: 350px;

            padding: 0 8px;

            color: $color-foreground;
            background-color: $color-background;

            border-radius: $border-radius;

            .date {
                flex-direction: column;
                align-items: center;

                .weekday {
                    font-size: 18px;
                    font-weight: bold;
                }

                .day {
                    font-size: 14px;
                }
            }

            .temperature {
                margin: 0 15px;

                font-size: 36px;
                font-weight: bold;
            }
        }
    }

    @media (max-width: 1000px) {
        #page-weather {
            flex-direction: column;

            overflow-y: scroll;
        }

        .left .panel {
            margin-left: 0;
            margin-top: 50px;

            border-radius: $border-radius;
        }

        .right {
            margin-top: 50px;
            padding: 0;

            &, .entry {
                margin-bottom: 25px;
            }
        }
    }

    @media (max-width: 700px) {
        .return {
            left: auto;
        }

        .left .panel {
            margin-top: 135px;
        }
    }

    @media (max-width: 475px) {
        .left .panel {
            width: calc(100vw - 50px);

            .icon {
                height: 65px;
            }

            .date {
                font-size: 22px;
            }
        }
    }
</style>
