@import './components';
@import './fonts';
@import './reset';
@import './vars';

:root {
    /*
     * Litarvan's pro tip:
     * How to instantly make your text look beautiful
     */
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#app {
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    color: $color-foreground;
}
