<template>
    <div id="page-index">
        <div class="logo" v-html="Logo"></div>
        <div class="search">
            <input class="input" placeholder="Search" v-model="search" @keydown="onInputKeyDown" />
            <div class="icon" v-html="Search"></div>
        </div>
        <div class="results-container">
            <div class="results">
                <NuxtLink
                    v-for="(result, i) in results"

                    class="result"
                    :class="{ selected: selected === i }"

                    @mouseover="selected = i"

                    :to="`/weather/${result.lat}/${result.lon}`"
                >
                    {{ formatCity(result) }}
                </NuxtLink>
            </div>
        </div>
    </div>
</template>

<script lang="ts" setup>
    import { City, formatCity } from '@/lib/location';

    import Logo from '@/assets/images/logo.svg?raw';
    import Search from '@/assets/images/search.svg?raw';


    const { $axios } = useNuxtApp();
    const router = useRouter();

    const axios = $axios();

    let search = ref('');
    let timeout: number | null = null;

    let selected = ref(-1);
    let results = ref<City[]>([]);


    function onInputKeyDown(event: KeyboardEvent): void
    {
        if (event.key === 'ArrowDown') {
            selected.value = Math.min(selected.value + 1, results.value.length - 1);
        } else if (event.key === 'ArrowUp') {
            event.preventDefault();
            selected.value = Math.max(selected.value - 1, 0);
        } else if (event.key === 'Enter') {
            const city = results.value[selected.value];
            if (city) {
                router.push(`/weather/${city.lat}/${city.lon}`);
            }
        } else {
            if (timeout) {
                clearTimeout(timeout);
            }

            timeout = setTimeout(() => {
                timeout = null;
                searchCities(search.value);
            }, 750);
        }
    }

    function searchCities(query: string): void
    {
        if (!query.length) {
            results.value = [];
            return;
        }

        axios.get(`/cities`, {
            params: { query }
        }).then(r => results.value = r.data);
    }
</script>

<style lang="scss">
    @import '/assets/styles/mixins';
    @import '/assets/styles/vars';

    .logo svg {
        width: 325px;
        height: 120px;
    }

    .search svg {
        @include square(24px);

        #search-icon-container {
            stroke: $color-background;
        }
    }
</style>

<style lang="scss" scoped>
    @import '/assets/styles/vars';

    #page-index {
        flex-grow: 1;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: 100vh;

        background-color: $color-background;
        color: $color-background;

        font-family: $font-open-sans;
        font-size: 14px;
        font-weight: 800;
    }

    .search, .results-container {
        width: 550px;
    }

    .search {
        align-items: center;
        margin-top: 35px;

        background-color: $color-foreground;
        border-radius: 14px;

        .input {
            flex-grow: 1;
            padding: 14px 5px 15px 18px;

            background: none;

            &::placeholder {
                opacity: 1;
            }
        }

        .icon {
            margin-right: 12px;
        }
    }

    .results-container {
        position: relative;

        .results {
            position: absolute;
            flex-direction: column;

            width: 100%;

            margin-top: 15px;

            .result {
                $border-radius: 14px;

                padding: 15px;

                background-color: $color-foreground;
                transition: background-color .125s;

                cursor: pointer;

                &:first-child {
                    border-top-left-radius: $border-radius;
                    border-top-right-radius: $border-radius;
                }

                &:last-child {
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                }

                &.selected {
                    background-color: darken($color-foreground, 10%);
                }
            }
        }
    }

    @media (max-width: 600px) {
        .search, .results-container {
            width: calc(100vw - 50px);
        }
    }
</style>
